body {
  color: white;
  background: black;
    margin: 2px
}

header {
  font-size: 45px;
  color: red;
  border-bottom: solid 2px white;
  margin:30px;
 
 font-family: "Silkscreen", sans-serif;
}
.entrada {
  font-family: "Oswald", sans-serif;
  background: orangered;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  display: flex;
}

.descricao {
  font-size: 20px;
}

.primeiro {
  margin-right: 20px;
}


img{
  height: 200px;
  
}

.vlogs{
  display: flex;
  overflow-x: auto;
  gap: 10px;
}

p{
  text-align: justify;
}

.outros{
  padding-left: 20px;
  padding-right: 20px;
  font-size: 30px;
   font-family: "Silkscreen", sans-serif;
}
.outros img{
  opacity: 0,5;
  
}
.outros img:hover{
  opacity: 1,0
}
